<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="EC-TEST" verbose="2">
    <listeners>
		<listener class-name="listeners.TestInvocationListerner" />
	</listeners>
  <test name="Login" >
      <classes>
          <class name="login.LoginTestIT"></class>
      </classes>
  </test>
</suite>